body {
  background-color: #e6e6fa;
}

.background {
  background-color: cadetblue;
  color: aqua;
}
.main-header {
  margin-top: 50px;
  text-align: center;
  color: rgb(29, 6, 57);
  font-size: 50px;
}

h2 {
  color: rgb(29, 6, 57);
  font-size: 20px;
}
