body {
  background-color: #f3e6fa;
}

.background {
  background-color: rgb(255, 255, 255);
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
}
.main-header {
  margin-top: 50px;
  text-align: center;
  color: rgb(29, 6, 57);
  font-size: 50px;
}

.blogs {
  background-color: white;
  text-align: center;
  color: rgb(29, 6, 57);
  margin-top: 60px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 50px;
  padding-right: 50px;
}

.titles {
  color: rgb(38, 6, 57);
  font-size: 40px;
}

.text {
  text-align: center;
  color: rgb(29, 6, 57);
  font-size: 25px;
  font-family: "Spectral", serif;
}

.pictures {
  width: 500px;
  height: 500px;
}
