body {
  background-color: #f3e6fa;
}

.blog-background {
  background-color: rgb(255, 255, 255);
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 10px;
  padding-bottom: 5px;
  border: 3px solid purple;
}

.blog-main-header {
  margin-top: 50px;
  text-align: center;
  color: rgb(29, 6, 57);
  font-size: 50px;
}

.blog-blogs {
  background-color: white;
  text-align: center;
  color: rgb(29, 6, 57);
  margin-top: 60px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 2px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid purple;
}

.blog-titles {
  color: rgb(38, 6, 57);
  font-size: 40px;
}

.blog-text {
  text-align: center;
  color: rgb(29, 6, 57);
  font-size: 25px;
  font-family: "Spectral", serif;
}

.blog-pictures {
  width: 500px;
  height: 500px;
}

.blog-link {
  font-size: 25px;
}
